openapi: "3.1.1"
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base

info:
  title: VEuPathDB Dataset Installer
  version: "1.7.0"
  license:
    name: Apache 2.0
    identifier: Apache-2.0

servers:
- description: Active Instance
  url: https://veupathdb.org/vdi
- description: UGA Instance
  url: https://w1.veupathdb.org/vdi
- description: UPenn Instance
  url: https://w2.veupathdb.org/vdi

tags:
- name: dataset
  description: Dataset resource API operations.

paths:
  /datasets:
    get:
      tags: [ dataset ]
      operationId: getDatasetList
      summary: List Datasets
      parameters:
      - name: project_id
        # language=markdown
        description: |-
          Project ID filter.

          ID of the VEuPathDB project that results should be filtered to.

          This means only datasets that are relevant to the project ID given
          will be returned.

          Additionally, this controls the sites on which the dataset
          installation status will be checked. Meaning, if this parameter is
          specified and set to, for example, `PlasmoDB`, the status block in the
          response objects will only include installation status details for
          `PlasmoDB` and not any other sites that the dataset may have been
          installed into.

          This is desirable for UI-based client use to improve request
          processing time by the service.
        in: query
        required: false
        schema: { $ref: "api-schema/types/common/fields/install-target.json" }
      - name: ownership
        in: query
        required: false
        # language=markdown
        description: |-
          Ownership status filter.

          Enum of:

          * `any`
          * `owned`
          * `shared`

          If set to `any` the results are not filtered.

          If set to `owned`, the results will be filtered to only results that
          are owned by the requesting user.

          If set to `shared`, the results will be filtered to only results that
          are shared with the requesting user.
        schema:
          type: string
          enum:
          - any
          - owned
          - shared
          default: any
      # language=markdown
      description: |-
        Returns a list of datasets available to the requesting user, optionally
        filtered by query parameters.

        Results are sorted by creation date in reverse order. This means the
        most recently created datasets will be first and the oldest dataset will
        be last in the list.
      responses:
        200: { $ref: "api-schema/responses/datasets/get.json"}
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        500: { $ref: "api-schema/responses/common/500.json" }
    post:
      tags: [ dataset ]
      operationId: createDataset
      summary: Create New Dataset
      # language=markdown
      description: |-
        `multipart/form-data` HTTP `POST` request to upload a new dataset.

        Note, the root of the body description below is of the multipart form data
        fields and not of a literal JSON object.
      
        The `meta` field, however, _is_ expected to be a JSON object.
      
        The `file` field may be one of:
      
        * a raw data file to import
        * a `.zip` file containing one or more files to import
        * a `.tar.gz` or `.tgz` file containing one or more files to import.
      
        The `url` field may point to a file that is one of the allowed upload types.
      
        The `url` and `file` fields cannot both be used at the same time, one must
        be used or the other.  Providing both fields will result in a 4xx range error
        response.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "api-schema/types/requests/datasets/create-dataset.json" }
      responses:
        201: { $ref: "api-schema/responses/datasets/post.json" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        422: { $ref: "api-schema/responses/common/422.json" }
        424: { $ref: "api-schema/responses/common/424.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /datasets/community:
    get:
      tags: [ dataset ]
      operationId: getCommunityDatasetList
      summary: List Community Datasets
      # language=markdown
      description: |-
        Returns a list of datasets that have been made "public" by the owner
        setting the dataset visibilities to a setting other than `private`.
      responses:
        200: { $ref: "api-schema/responses/datasets/community/get.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /datasets/{dataset-id}:
    parameters:
    - $ref: "#/components/parameters/datasetId"
    get:
      tags: [ dataset ]
      operationId: getDataset
      responses:
        200: { $ref: "api-schema/responses/datasets/dataset-id/get-200.json" }
        301: { $ref: "api-schema/responses/datasets/dataset-id/get-301.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }
    patch:
      tags: [ "dataset" ]
      operationId: updateDataset
      requestBody: { $ref: "api-schema/requests/datasets/patch.json" }
      responses:
        204: { $ref: "api-schema/responses/common/204.json" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        422: { $ref: "api-schema/responses/common/422.json" }
        500: { $ref: "api-schema/responses/common/500.json" }
    put:
      tags: [ "dataset" ]
      operationId: reviseDataset
      requestBody:
        content:
          application/json:
      responses:
        201: { $ref: "api-schema/responses/datasets/dataset-id/put-201.json" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        422: { $ref: "api-schema/responses/common/422.json" }
        424: { $ref: "api-schema/responses/common/424.json" }
        500: { $ref: "api-schema/responses/common/500.json" }
    delete:
      tags: [ "dataset" ]
      operationId: deleteDataset
      responses:
        204: { $ref: "api-schema/responses/common/204.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /datasets/{dataset-id}/files:
    parameters:
    - $ref: "#/components/parameters/datasetId"
    get:
      tags: [ "dataset", "file" ]
      operationId: getDatasetFileIndex
      responses:
        200:
          description: Dataset file index
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/datasets/dataset-file-index.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /datasets/{dataset-id}/files/importReady:
    parameters:
    - $ref: "#/components/parameters/datasetId"
    get:
      tags: [ "dataset", "file" ]
      operationId: getImportReadyFile
      summary: Get User Upload File
      parameters:
      - name: attachment
        required: false
        in: query
        schema:
          type: boolean
          default: true
      responses:
        200: { $ref: '#/components/responses/File' }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /datasets/{dataset-id}/files/installReady:
    parameters:
    - $ref: "#/components/parameters/datasetId"
    get:
      tags: [ "dataset", "file" ]
      operationId: getInstallReadyFile
      summary: Get Preprocessed Data
      parameters:
      - name: attachment
        required: false
        in: query
        schema:
          type: boolean
          default: true
      responses:
        200: { $ref: '#/components/responses/File' }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /studies:
    get:
      tags: [ "study" ]
      operationId: getStudies
    post:
      tags: [ "study" ]
      operationId: createStudy

  /studies/community:
    get:
      tags: [ "study" ]
      operationId: getCommunityStudies

  /studies/{study-id}:
    parameters:
    - $ref: "#/components/parameters/studyId"
    get:
      tags: [ "study" ]
      operationId: getStudy
    patch:
      tags: [ "study" ]
      operationId: updateStudy
    delete:
      tags: [ "study" ]
      operationId: deleteStudy

  /studies/{study-id}/documents/:
    parameters:
    - $ref: "#/components/parameters/studyId"
    get:
      tags: [ "study", "file" ]
      operationId: getStudyDocumentIndex
      responses:
        200:
          description: Document List
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/studies/document-file-listing.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /studies/{study-id}/documents/{file-name}:
    parameters:
    - $ref: "#/components/parameters/studyId"
    - name: file-name
      required: true
      in: path
      schema:
        type: string
    get:
      tags: [ "study", "file" ]
      operationId: getStudyDocument
      parameters:
      - name: attachment
        required: false
        in: query
        schema:
          type: boolean
          default: true
      responses:
        200: { $ref: '#/components/responses/File' }
        401: { $ref: "api-schema/responses/common/401.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }
    put:
      tags: [ "study", "file"]
      requestBody:
        description: New document file.
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        204: { description: "Document replaced" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }


  /studies/{study-id}/shares:
    parameters:
    - $ref: "#/components/parameters/studyId"
    get:
      tags: [ "study", "share" ]
      summary: Get Share Details
      responses:
        200:
          description: Share Details
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/studies/shares/list.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /studies/{study-id}/shares/{recipient-user-id}:
    parameters:
    - $ref: "#/components/parameters/studyId"
    - $ref: "#/components/parameters/shareRecipientId"
    get:
      tags: [ "study", "share" ]
      summary: Get Share Details
      responses:
        200:
          description: Share Details
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/studies/shares/details.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /studies/{study-id}/shares/{recipient-user-id}/offer:
    parameters:
    - $ref: "#/components/parameters/studyId"
    - $ref: "#/components/parameters/shareRecipientId"
    put:
      tags: [ "study", "share" ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "api-schema/types/requests/studies/shares/offer.json" }
      responses:
        204: { description: "Success" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        422: { $ref: "api-schema/responses/common/422.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /studies/{study-id}/shares/{recipient-user-id}/receipt:
    parameters:
    - $ref: "#/components/parameters/datasetId"
    - $ref: "#/components/parameters/shareRecipientId"
    put:
      tags: [ "dataset", "share" ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "api-schema/types/requests/studies/shares/receipt.json" }
      responses:
        204: { description: "Success" }
        400: { $ref: "api-schema/responses/common/400.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        422: { $ref: "api-schema/responses/common/422.json" }
        500: { $ref: "api-schema/responses/common/500.json" }


  /users/{user-id}:
    parameters:
    - $ref: "#/components/parameters/userId"
    get:
      tags: [ "user" ]
      summary: Get User Details
      responses:
        200:
          description: User Details
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/users/details.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

  /users/{user-id}/shares:
    parameters:
    - $ref: "#/components/parameters/userId"
    get:
      summary: Get User Share Info
      tags: [ "user", "share" ]
      responses:
        200:
          description: User Share Listing
          content:
            application/json:
              schema: { $ref: "api-schema/types/responses/users/share-list.json" }
        401: { $ref: "api-schema/responses/common/401.json" }
        403: { $ref: "api-schema/responses/common/403.json" }
        404: { $ref: "api-schema/responses/common/404.json" }
        500: { $ref: "api-schema/responses/common/500.json" }

components:
  parameters:
    datasetId:
      name: "dataset-id"
      in: path
      required: true
      schema: { $ref: "api-schema/types/common/dataset/dataset-id.json" }
    studyId:
      name: "study-id"
      in: path
      required: true
      schema: { $ref: "api-schema/types/common/study/study-id.json" }
    shareRecipientId:
      name: recipient-user-id
      in: path
      required: true
      schema: { $ref: "api-schema/types/common/wdk/user-id.json" }
    userId:
      name: user-id
      in: path
      required: true
      # language=markdown
      description: |-
        Either the WDK user ID of a target user, or the value `me`.
      schema:
        type: string
        minLength: 2
        # language=regexp
        pattern: ^me|\d{3,12}$
  responses:
    File:
      description: File contents
      headers:
        # language=markdown
        Content-Disposition:
          required: false
          schema:
            type: string
            examples:
            - attachment; filename="1234567-upload.zip"
      content:
        application/octet-stream:
          schema:
            type: string
            format: file
