openapi: "3.1.1"
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base

info:
  title: VEuPathDB Dataset Installer
  version: "1.7.0"
  license:
    name: Apache 2.0
    identifier: Apache-2.0

servers:
- description: Active Instance
  url: https://veupathdb.org/vdi
- description: UGA Instance
  url: https://w1.veupathdb.org/vdi
- description: UPenn Instance
  url: https://w2.veupathdb.org/vdi

tags:
- name: dataset
  description: Datasets.
- name: file
  description: Dataset files.
- name: share
  description: Dataset sharing.
- name: user
  description: Users.
- name: meta
  description: Service meta.

paths:

  /datasets:
    get:
      tags: [ dataset ]
      operationId: getDatasetList
      summary: List Datasets
      parameters:
      - $ref: "src/oai/_common/_params/query/install-target-datasets.json"
      - $ref: "src/oai/_common/_params/query/dataset-ownership.json"
      # language=markdown
      description: |-
        Returns a list of datasets available to the requesting user, optionally
        filtered by query parameters.

        Results are sorted by creation date in reverse order. This means the
        most recently created datasets will be first and the oldest dataset will
        be last in the list.
      responses:
        200: { $ref: "src/oai/datasets/_responses/get.json"}
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    post:
      tags: [ dataset ]
      operationId: createDataset
      summary: Create New Dataset
      # language=markdown
      description: |-
        `multipart/form-data` HTTP `POST` request to upload a new dataset.

        Note, the root of the body description below is of the multipart form data
        fields and not of a literal JSON object.
      
        The `meta` field, however, _is_ expected to be a JSON object.
      
        The `file` field may be one of:
      
        * a raw data file to import
        * a `.zip` file containing one or more files to import
        * a `.tar.gz` or `.tgz` file containing one or more files to import.
      
        The `url` field may point to a file that is one of the allowed upload types.
      
        The `url` and `file` fields cannot both be used at the same time, one must
        be used or the other.  Providing both fields will result in a 4xx range error
        response.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "src/oai/datasets/_types/post-body.json" }
      responses:
        201: { $ref: "src/oai/datasets/_responses/post.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        424: { $ref: "src/oai/_common/_responses/424.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/community:
    get:
      tags: [ dataset ]
      operationId: getCommunityDatasetList
      summary: List Community Datasets
      parameters:
      - $ref: "src/oai/_common/_params/query/install-target-datasets.json"
      # language=markdown
      description: |-
        Returns a list of datasets that have been made "public" by the owner
        setting the dataset visibilities to a setting other than `private`.
      responses:
        200: { $ref: "src/oai/datasets/community/_responses/get.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ dataset ]
      operationId: getDataset
      responses:
        200: { $ref: "src/oai/datasets/dataset-id/_responses/get-200.json" }
        301: { $ref: "src/oai/datasets/dataset-id/_responses/get-301.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    patch:
      tags: [ "dataset" ]
      operationId: updateDataset
      requestBody:
        content:
          application/json:
            schema: { $ref: "src/oai/datasets/dataset-id/_types/patch-body.json" }
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    put:
      tags: [ "dataset" ]
      operationId: reviseDataset
      requestBody:
        content:
          multipart/form-data:
            schema: { $ref: "src/oai/datasets/dataset-id/_types/put-body.json" }
      responses:
        201: { $ref: "src/oai/datasets/dataset-id/_responses/put-201.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        424: { $ref: "src/oai/_common/_responses/424.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    delete:
      tags: [ "dataset" ]
      operationId: deleteDataset
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/files:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ "dataset", "file" ]
      operationId: getDatasetFileIndex
      responses:
        200:
          description: Dataset file index
          content:
            application/json:
              schema: { $ref: "src/oai/datasets/dataset-id/files/_types/dataset-file-index.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/files/importReady:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ "dataset", "file" ]
      operationId: getImportReadyFile
      summary: Get User Upload File
      responses:
        200: { $ref: 'src/oai/_common/_responses/file.json' }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/files/installReady:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ "dataset", "file" ]
      operationId: getInstallReadyFile
      summary: Get Preprocessed Data
      responses:
        200: { $ref: 'src/oai/_common/_responses/file.json' }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/files/documents:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ "dataset", "file" ]
      operationId: getDocumentList
      summary: Get list of dataset meta documents.
      responses:
        200: { $ref: 'src/oai/datasets/dataset-id/files/documents/_responses/get-200.json' }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/files/documents/{file-name}:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    - name: file-name
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    get:
      tags: [ "dataset", "file" ]
      operationId: getDocumentFile
      summary: Get dataset meta document file.
      parameters:
      - name: attachment
        required: false
        in: query
        schema:
          type: boolean
          default: true
      responses:
        200: { $ref: 'src/oai/_common/_responses/file.json' }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    put:
      tags: [ "dataset", "file" ]
      operationId: putDocumentFile
      summary: Upload dataset meta document file.
      requestBody:
        required: true
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/shares:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    get:
      tags: [ "dataset", "share" ]
      operationId: getDatasetShareList
      summary: Get Dataset Share List
      responses:
        200: { $ref: "src/oai/datasets/dataset-id/shares/_responses/get-200.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/shares/recipient-id:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    - $ref: "src/oai/_common/_params/path/share-recipient-id.json"
    get:
      tags: [ "dataset", "share" ]
      operationId: getDatasetShare
      summary: Get Dataset Share for Recipient
      responses:
        200: { $ref: "src/oai/datasets/dataset-id/shares/recipient-id/_responses/200.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    put:
      tags: [ "dataset", "share" ]
      operationId: putDatasetShare
      summary: Put Dataset Share for Recipient
      requestBody:
        content:
          application/json:
            schema: { $ref: "src/oai/datasets/dataset-id/shares/_types/details.json" }
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/shares/recipient-id/offer:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    - $ref: "src/oai/_common/_params/path/share-recipient-id.json"
    get:
      tags: [ "dataset", "share" ]
      operationId: getDatasetShareOffer
      summary: Get dataset share offer
      responses:
        200: { $ref: "src/oai/datasets/dataset-id/shares/recipient-id/offer/_responses/200.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    put:
      tags: [ "dataset", "share" ]
      operationId: putDatasetShareOffer
      summary: Put dataset share offer
      requestBody:
        content:
          application/json:
            schema: { $ref: "src/oai/datasets/dataset-id/shares/_types/offer.json" }
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /datasets/dataset-id/shares/recipient-id/receipt:
    parameters:
    - $ref: "src/oai/_common/_params/path/dataset-id.json"
    - $ref: "src/oai/_common/_params/path/share-recipient-id.json"
    get:
      tags: [ "dataset", "share" ]
      operationId: getDatasetShareReceipt
      summary: Get dataset share receipt
      responses:
        200: { $ref: "src/oai/datasets/dataset-id/shares/recipient-id/receipt/_responses/200.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
    put:
      tags: [ "dataset", "share" ]
      operationId: putDatasetShareReceipt
      summary: Put dataset share receipt
      requestBody:
        content:
          application/json:
            schema: { $ref: "src/oai/datasets/dataset-id/shares/_types/receipt.json" }
      responses:
        204: { $ref: "src/oai/_common/_responses/204.json" }
        400: { $ref: "src/oai/_common/_responses/400.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        422: { $ref: "src/oai/_common/_responses/422.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /health:
    get:
      tags: [ "meta" ]
      operationId: getServiceHealth
      summary: Service Health
      description: Displays information about the health of the service.
      responses:
        200: { $ref: "src/oai/health/_responses/get-200.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /plugins:
    get:
      tags: [ "meta" ]
      operationId: getPlugins
      summary: List Plugins
      # language=markdown
      description: >-
        Returns a list of the plugins currently registered with the VDI service.
          
        The plugin list may be optionally filtered by install-target and/or
        enabled status.
      parameters:
      - $ref: "src/oai/_common/_params/query/install-target-datasets.json"
      - $ref: "src/oai/plugins/_params/enabled.json"
      responses:
        200: { $ref: "src/oai/plugins/_responses/get.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /users/user-id:
    parameters:
    - $ref: "src/oai/_common/_params/path/user-id.json"
    get:
      tags: [ "user" ]
      summary: Get User Details
      operationId: getUserInfo
      responses:
        200: { $ref: "src/oai/users/user-id/_responses/get.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }

  /users/user-id/shares:
    parameters:
    - $ref: "src/oai/_common/_params/path/user-id.json"
    get:
      summary: Get User Share Info
      tags: [ "user", "share" ]
      operationId: getUserShares
      responses:
        200: { $ref: "src/oai/users/user-id/shares/_responses/200.json" }
        401: { $ref: "src/oai/_common/_responses/401.json" }
        403: { $ref: "src/oai/_common/_responses/403.json" }
        404: { $ref: "src/oai/_common/_responses/404.json" }
        500: { $ref: "src/oai/_common/_responses/500.json" }
