# Common
DB_CONNECTION_PASS_AMOEBA=

# Cache-DB & Service
CACHE_DB_PASSWORD=

# Service Only
GLOBAL_RABBIT_PASSWORD=
AUTH_SECRET_KEY=
ADMIN_AUTH_TOKEN=
OAUTH_CLIENT_SECRET=
S3_SECRET_KEY=
ACCT_DB_PASS=
USER_DB_PASS=
