# Global Exclusions
**/build/
**/docs/
gradle/*
!gradle/libs.versions.toml
!gradle/common.versions.toml
node_modules/

**/gradlew
**/gradlew.bat
**/readme.adoc
**/license
**/makefile
**/Dockerfile

**/.*
!.dockerignore
**/*.jar
**/*.log
**/*.env
**/*.raml


# /
/compose/
tmp/
venv/

/Jenkinsfile
/build.gradle.kts
/*.yml


# /project
project/plugin-server/

# /project/core
/project/core/api-schema/

/project/core/openapi.yml
/project/core/models.json
/project/core/operations.json
