.gradle/
.idea/
build/
/vendor/
.tools/
/bin/
.bin/
/tmp/
.settings/
.envrc

*.tmp
*.bak
*.swp
*.jar

local.properties
.loadpath
.recommenders

!gradle-wrapper.jar
/run.sh
.env

.classpath
.project
.settings
*~
.*~

# Secrets
k8s/secrets/*.yml