.gradle/
.idea/
.tools/
.bin/
.settings/
.kotlin/
build/
/vendor/
/bin/
/tmp/
.envrc

/*ssh*

*.tmp
*.bak
*.swp
*.jar

local.properties
.loadpath
.recommenders

!gradle-wrapper.jar
/run.sh
.env

.classpath
.project
.settings
*~
.*~

# Secrets
deploy/secrets/*.yml
vault-init.sh
keys/
deploy/
docker-compose.ssh.yml
host-list.yml
