# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ #
# ┃                                                                          ┃ #
# ┃     General Exclusions                                                   ┃ #
# ┃                                                                          ┃ #
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ #

# dot-files
.*
!.github/
!.gitignore
!.gitattributes
!.dockerignore

# Editor backups
*.tmp
*.bak
*.swp
*~
*.log

# Compiled outputs
*.jar

vendor/
bin/
tmp/

*.zip
*.tgz
*.tar.gz


project/docs/
/stack


# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ #
# ┃                                                                          ┃ #
# ┃     VEuPathDB Specifics                                                  ┃ #
# ┃                                                                          ┃ #
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ #

*ssh*
host-list.yml

!test-data/rnaseq/plasmoRNASeq-PbANKA/69_ HTSeqCountToTPM on collection 54_ gene expression.tgz


# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ #
# ┃                                                                          ┃ #
# ┃     Editors and IDEs                                                     ┃ #
# ┃                                                                          ┃ #
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ #

# Eclipse
.settings/
*.launch
*.pydevproject
.factorypath
.buildpath
.springBeans
.recommenders
.cache-main
.scala_dependencies
.worksheet
.project
.loadpath
local.properties
.classpath
.settings

# IntelliJ
.idea/
!.idea/inspectionProfiles/
!.idea/codeStyles/
*.iml

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradle-wrapper.jar


# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ #
# ┃                                                                          ┃ #
# ┃     Language Specifics                                                   ┃ #
# ┃                                                                          ┃ #
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ #

# Kotlin
kotlin.properties
.kotlin

# NodeJS
node_modules/

# Python
venv/
