# Image Versions
VDI_SERVICE_TAG=latest
VDI_CACHE_DB_TAG=1.2.0
VDI_KAFKA_TAG=3.4.0

VDI_PLUGIN_EXAMPLE_TAG=latest
VDI_PLUGIN_GENELIST_TAG=latest
VDI_PLUGIN_ISASIMPLE_TAG=latest
VDI_PLUGIN_BIGWIG_TAG=latest
VDI_PLUGIN_BIOM_TAG=latest
VDI_PLUGIN_RNASEQ_TAG=latest

# Rest Service Configuration
VDI_SERVICE_HTTP_PORT=80
AUTH_SECRET_KEY=
ADMIN_SECRET_KEY=
LDAP_SERVER=
ORACLE_BASE_DN=ou=applications,dc=apidb,dc=org

ACCT_DB_TNS_NAME=acctdbn
ACCT_DB_USERNAME=
ACCT_DB_PASSWORD=
ACCT_DB_POOL_SIZE=5

USER_DB_TNS_NAME=apicommn
USER_DB_USERNAME=
USER_DB_PASSWORD=
USER_DB_POOL_SIZE=5

# External RabbitMQ Connection
GLOBAL_RABBIT_USERNAME=someUser
GLOBAL_RABBIT_PASSWORD=somePassword
GLOBAL_RABBIT_HOST=rabbit-external
GLOBAL_RABBIT_VDI_EXCHANGE_NAME=vdi-bucket-notifications
GLOBAL_RABBIT_VDI_QUEUE_NAME=vdi-bucket-notifications
GLOBAL_RABBIT_VDI_ROUTING_KEY=vdi-bucket-notifications

# Handler Configurations
IMPORT_HANDLER_KAFKA_CONSUMER_CLIENT_ID=import-handler
UPDATE_META_HANDLER_KAFKA_CONSUMER_CLIENT_ID=update-meta-handler
INSTALL_DATA_HANDLER_KAFKA_CONSUMER_CLIENT_ID=install-data-handler
SHARE_HANDLER_KAFKA_CONSUMER_CLIENT_ID=share-handler
SOFT_DELETE_HANDLER_KAFKA_CONSUMER_CLIENT_ID=soft-delete-handler
HARD_DELETE_HANDLER_KAFKA_CONSUMER_CLIENT_ID=hard-delete-handler

# Internal Kafka Connection
KAFKA_SERVERS=kafka:9092
KAFKA_PRODUCER_CLIENT_ID=vdi-event-router
KAFKA_CONSUMER_GROUP_ID=vdi-kafka-consumers
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

# External MinIO Connection
S3_HOST=minio-external
S3_PORT=9000
S3_USE_HTTPS=false
S3_ACCESS_TOKEN=someToken
S3_SECRET_KEY=someSecretKey
S3_BUCKET=some-other-bucket

# Internal Cache DB Connection
CACHE_DB_USERNAME=someUser
CACHE_DB_PASSWORD=somePassword
CACHE_DB_NAME=vdi
CACHE_DB_HOST=cache-db
CACHE_DB_PORT=5432
CACHE_DB_POOL_SIZE=5

# # # # # # # # # #
# Plugin Services #
# # # # # # # # # #

# No-Op Plugin
PLUGIN_HANDLER_NOOP_NAME=noop
PLUGIN_HANDLER_NOOP_DISPLAY_NAME="Example Plugin"
PLUGIN_HANDLER_NOOP_VERSION=1.0
PLUGIN_HANDLER_NOOP_ADDRESS=plugin-example:80
PLUGIN_HANDLER_NOOP_PROJECT_IDS=

# GeneList Plugin
PLUGIN_HANDLER_GENELIST_NAME=genelist
PLUGIN_HANDLER_GENELIST_DISPLAY_NAME="Gene List"
PLUGIN_HANDLER_GENELIST_VERSION=1.0
PLUGIN_HANDLER_GENELIST_ADDRESS=plugin-genelist:80
PLUGIN_HANDLER_GENELIST_PROJECT_IDS=AmoebaDB,ClinEpiDB,CryptoDB,FungiDB,GiardiaDB,HostDB,MicrosporidiaDB,PiroplasmaDB,PlasmoDB,ToxoDB,TrichDB,TriTrypDB,VectorBase

# ISASimple Plugin
PLUGIN_HANDLER_ISASIMPLE_NAME=isa
PLUGIN_HANDLER_ISASIMPLE_DISPLAY_NAME="ISA Study"
PLUGIN_HANDLER_ISASIMPLE_VERSION=1.0
PLUGIN_HANDLER_ISASIMPLE_ADDRESS=plugin-isasimple:80
PLUGIN_HANDLER_ISASIMPLE_PROJECT_IDS=ClinEpiDB

# BigWig Plugin
PLUGIN_HANDLER_BIGWIG_NAME=bigwigfiles
PLUGIN_HANDLER_BIGWIG_DISPLAY_NAME=Bigwig
PLUGIN_HANDLER_BIGWIG_VERSION=1.0
PLUGIN_HANDLER_BIGWIG_ADDRESS=plugin-bigwig:80
PLUGIN_HANDLER_BIGWIG_PROJECT_IDS=AmoebaDB,ClinEpiDB,CryptoDB,FungiDB,GiardiaDB,HostDB,MicrosporidiaDB,PiroplasmaDB,PlasmoDB,ToxoDB,TrichDB,TriTrypDB,VectorBase

# BigWig Plugin
PLUGIN_HANDLER_BIOM_NAME=biom
PLUGIN_HANDLER_BIOM_DISPLAY_NAME=BIOM
PLUGIN_HANDLER_BIOM_VERSION=1.0
PLUGIN_HANDLER_BIOM_ADDRESS=plugin-biom:80
PLUGIN_HANDLER_BIOM_PROJECT_IDS=MicrobiomeDB

# BigWig Plugin
PLUGIN_HANDLER_RNASEQ_NAME=rnaseq
PLUGIN_HANDLER_RNASEQ_DISPLAY_NAME=RNA-seq
PLUGIN_HANDLER_RNASEQ_VERSION=1.0
PLUGIN_HANDLER_RNASEQ_ADDRESS=plugin-rnaseq:80
PLUGIN_HANDLER_RNASEQ_PROJECT_IDS=AmoebaDB,ClinEpiDB,CryptoDB,FungiDB,GiardiaDB,HostDB,MicrosporidiaDB,PiroplasmaDB,PlasmoDB,ToxoDB,TrichDB,TriTrypDB,VectorBase

# # # # # # # # # # # # # # #
# App Database Connections  #
# # # # # # # # # # # # # # #

DB_CONNECTION_NAME_AMOEBA=AmoebaDB
DB_CONNECTION_LDAP_AMOEBA=ameb063n
DB_CONNECTION_USER_AMOEBA=someDBUser
DB_CONNECTION_PASS_AMOEBA=someDBPass
DB_CONNECTION_DATA_SCHEMA_AMOEBA=someSchema
DB_CONNECTION_CONTROL_SCHEMA_AMOEBA=vdi
DB_CONNECTION_POOL_SIZE_AMOEBA=5

DB_CONNECTION_NAME_CRYPTO=CryptoDB
DB_CONNECTION_LDAP_CRYPTO=cryp063n
DB_CONNECTION_USER_CRYPTO=someDBUser
DB_CONNECTION_PASS_CRYPTO=someDBPass
DB_CONNECTION_DATA_SCHEMA_CRYPTO=someSchema
DB_CONNECTION_CONTROL_SCHEMA_CRYPTO=vdi
DB_CONNECTION_POOL_SIZE_CRYPTO=5

DB_CONNECTION_NAME_FUNGI=FungiDB
DB_CONNECTION_LDAP_FUNGI=fung063n
DB_CONNECTION_USER_FUNGI=someDBUser
DB_CONNECTION_PASS_FUNGI=someDBPass
DB_CONNECTION_DATA_SCHEMA_FUNGI=someSchema
DB_CONNECTION_CONTROL_SCHEMA_FUNGI=vdi
DB_CONNECTION_POOL_SIZE_FUNGI=5

DB_CONNECTION_NAME_GIARDIA=GiardiaDB
DB_CONNECTION_LDAP_GIARDIA=giar063n
DB_CONNECTION_USER_GIARDIA=someDBUser
DB_CONNECTION_PASS_GIARDIA=someDBPass
DB_CONNECTION_DATA_SCHEMA_GIARDIA=someSchema
DB_CONNECTION_CONTROL_SCHEMA_GIARDIA=vdi
DB_CONNECTION_POOL_SIZE_GIARDIA=5

DB_CONNECTION_NAME_HOST=HostDB
DB_CONNECTION_LDAP_HOST=host063n
DB_CONNECTION_USER_HOST=someDBUser
DB_CONNECTION_PASS_HOST=someDBPass
DB_CONNECTION_DATA_SCHEMA_HOST=someSchema
DB_CONNECTION_CONTROL_SCHEMA_HOST=vdi
DB_CONNECTION_POOL_SIZE_HOST=5

DB_CONNECTION_NAME_MICROSPORIDIA=MicrosporidiaDB
DB_CONNECTION_LDAP_MICROSPORIDIA=micr063n
DB_CONNECTION_USER_MICROSPORIDIA=someDBUser
DB_CONNECTION_PASS_MICROSPORIDIA=someDBPass
DB_CONNECTION_DATA_SCHEMA_MICROSPORIDIA=someSchema
DB_CONNECTION_CONTROL_SCHEMA_MICROSPORIDIA=vdi
DB_CONNECTION_POOL_SIZE_MICROSPORIDIA=5

DB_CONNECTION_NAME_PIROPLASMA=PiroplasmaDB
DB_CONNECTION_LDAP_PIROPLASMA=piro063n
DB_CONNECTION_USER_PIROPLASMA=someDBUser
DB_CONNECTION_PASS_PIROPLASMA=someDBPass
DB_CONNECTION_DATA_SCHEMA_PIROPLASMA=someSchema
DB_CONNECTION_CONTROL_SCHEMA_PIROPLASMA=vdi
DB_CONNECTION_POOL_SIZE_PIROPLASMA=5

DB_CONNECTION_NAME_PLASMO=PlasmoDB
DB_CONNECTION_LDAP_PLASMO=plas063n
DB_CONNECTION_USER_PLASMO=someDBUser
DB_CONNECTION_PASS_PLASMO=someDBPass
DB_CONNECTION_DATA_SCHEMA_PLASMO=someSchema
DB_CONNECTION_CONTROL_SCHEMA_PLASMO=vdi
DB_CONNECTION_POOL_SIZE_PLASMO=5

DB_CONNECTION_NAME_TOXO=ToxoDB
DB_CONNECTION_LDAP_TOXO=toxo063n
DB_CONNECTION_USER_TOXO=someDBUser
DB_CONNECTION_PASS_TOXO=someDBPass
DB_CONNECTION_DATA_SCHEMA_TOXO=someSchema
DB_CONNECTION_CONTROL_SCHEMA_TOXO=vdi
DB_CONNECTION_POOL_SIZE_TOXO=5

DB_CONNECTION_NAME_TRICH=TrichDB
DB_CONNECTION_LDAP_TRICH=tvag063n
DB_CONNECTION_USER_TRICH=someDBUser
DB_CONNECTION_PASS_TRICH=someDBPass
DB_CONNECTION_DATA_SCHEMA_TRICH=someSchema
DB_CONNECTION_CONTROL_SCHEMA_TRICH=vdi
DB_CONNECTION_POOL_SIZE_TRICH=5

DB_CONNECTION_NAME_TRITRYP=TriTrypDB
DB_CONNECTION_LDAP_TRITRYP=tryp063n
DB_CONNECTION_USER_TRITRYP=someDBUser
DB_CONNECTION_PASS_TRITRYP=someDBPass
DB_CONNECTION_DATA_SCHEMA_TRITRYP=someSchema
DB_CONNECTION_CONTROL_SCHEMA_TRITRYP=vdi
DB_CONNECTION_POOL_SIZE_TRITRYP=5

DB_CONNECTION_NAME_VECTOR=VectorBase
DB_CONNECTION_LDAP_VECTOR=vect063n
DB_CONNECTION_USER_VECTOR=someDBUser
DB_CONNECTION_PASS_VECTOR=someDBPass
DB_CONNECTION_DATA_SCHEMA_VECTOR=someSchema
DB_CONNECTION_CONTROL_SCHEMA_VECTOR=vdi
DB_CONNECTION_POOL_SIZE_VECTOR=5

DB_CONNECTION_NAME_ORTHO=OrthoMCL
DB_CONNECTION_LDAP_ORTHO=orth063n
DB_CONNECTION_USER_ORTHO=someDBUser
DB_CONNECTION_PASS_ORTHO=someDBPass
DB_CONNECTION_DATA_SCHEMA_ORTHO=someSchema
DB_CONNECTION_CONTROL_SCHEMA_ORTHO=vdi
DB_CONNECTION_POOL_SIZE_ORTHO=5

DB_CONNECTION_NAME_CLINEPI=ClinEpiDB
DB_CONNECTION_LDAP_CLINEPI=eda063n
DB_CONNECTION_USER_CLINEPI=someDBUser
DB_CONNECTION_PASS_CLINEPI=someDBPass
DB_CONNECTION_DATA_SCHEMA_CLINEPI=someSchema
DB_CONNECTION_CONTROL_SCHEMA_CLINEPI=vdi
DB_CONNECTION_POOL_SIZE_CLINEPI=5

DB_CONNECTION_NAME_MICROBIOME=MicrobiomeDB
DB_CONNECTION_LDAP_MICROBIOME=mbio061n
DB_CONNECTION_USER_MICROBIOME=someDBUser
DB_CONNECTION_PASS_MICROBIOME=someDBPass
DB_CONNECTION_DATA_SCHEMA_MICROBIOME=someSchema
DB_CONNECTION_CONTROL_SCHEMA_MICROBIOME=vdi
DB_CONNECTION_POOL_SIZE_MICROBIOME=5
