# Enum: n | s
LOCATION_INDICATOR=n

# OAuth
OAUTH_CLIENT_ID=REQUIRED
OAUTH_CLIENT_SECRET=REQUIRED
OAUTH_URL=https://eupathdb.org/oauth

# Admin Endpoints
ADMIN_AUTH_TOKEN=REQUIRED

# MinIO
S3_HOST=REQUIRED
S3_ACCESS_TOKEN=REQUIRED
S3_SECRET_KEY=REQUIRED

# RabbitMQ
GLOBAL_RABBIT_HOST=REQUIRED
GLOBAL_RABBIT_USERNAME=REQUIRED
GLOBAL_RABBIT_PASSWORD=REQUIRED

# App DB password for VDI schema users
VDI_APPDB_SCHEMA_PASS=REQUIRED

# Stack-internal cache db password
CACHE_DB_PASSWORD=REQUIRED

# Site build dataset directory path segment
SITE_BUILD=build-68

# LDAP General
LDAP_SERVER=REQUIRED
DB_LOOKUP_BASE_DN=ou=applications,dc=apidb,dc=org

# Plugin Config
DATASET_INSTALL_DIR_LOCAL_PATH=REQUIRED

AMOEBA_LDAP="ameb-inc"
CLINEPI_LDAP="eda-inc"
CRYPTO_LDAP="cryp-inc"
FUNGI_LDAP="fung-inc"
GIARDIA_LDAP="giar-inc"
HOST_LDAP="host-inc"
MICROBIOME_LDAP="eda-inc"
MICROSPORIDIA_LDAP="micr-inc"
ORTHO_LDAP="orth-inc"
PIROPLASMA_LDAP="piro-inc"
PLASMO_LDAP="plas-inc"
TOXO_LDAP="toxo-inc"
TRICH_LDAP="tvag-inc"
TRITRYP_LDAP="tryp-inc"
VECTOR_LDAP="vect-inc"

UNIDB_LDAP=REQUIRED
